//inputs

//BUTTONS
NET "rst" LOC=P69;
NET "BTN1" LOC=P48;
NET "BTN2" LOC=P47;
NET "BTN3" LOC=P41;

//SWITCHES
NET "SW[0]" LOC=P38;
NET "SW[1]" LOC=P36;
NET "SW[2]" LOC=P29;
NET "SW[3]" LOC=P24;



//outputs

//LEDS
NET "LED[0]" LOC=P15;
NET "LED[1]" LOC=P14;
NET "LED[2]" LOC=P8;
NET "LED[3]" LOC=P7;
NET "LED[4]" LOC=P5;
NET "LED[5]" LOC=P4;
NET "LED[6]" LOC=P3;
NET "LED[7]" LOC=P2;

//SSDs